#main-content-div{
    width: 800px;
    display: flex;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10rem;
    left: 33rem;
    height: 70%;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}

.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
    background-color: #d6d6d6b2;
    flex-direction: column;
    margin: 10px 0;


}
body {
    background-color: #f0f0f0; 
    color: #333; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}