
#mainHeader {
    display: flex; /* this put them all in a single row if removed they become under each other */
    justify-content: space-between; /* items are evenly spaced(left midlle rigth) */  
    padding: 8px 20px; /* 8px down and 20 to the right */
    position: fixed; /* Keeps the header visible when scrolling */
    width: 100%;   /*elements stretch to cover 100% of the x axis of page */
    z-index: 7; /* so it doesnt overlap with main box  */
    top: 0;
    border-bottom: 1px solid;
}

#userIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* make the image take a circular shape */
    border: 2px solid lightseagreen; 
}
#userIcon:hover {
    cursor: pointer; /* change cursor icon when hoverd */
    border-color: green; 
}
#searchBar {
    width: 400px; 
    padding: 10px 15px;
    border: 2px solid ;
    border-radius: 20px;
    font-size: 16px;
}
#searchBar:focus {
    border-color: purple;
    box-shadow: 0 0 12px rgba(128, 0, 128, 0.7);
    outline: none; 
    /* browser have a defult outline when elemnt is being focused on 
    which will cover our border color */
}
#uniLogo {
    height: 40px;  
    padding-right: 40px;
}
